/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "Open Sans", "Noto Sans TC", sans-serif, Arial, Helvetica;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.CoinBlock{
    position: absolute;
    z-index: 1;
    width: 800px;
    height: 540px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coin-1{
    position: absolute;
    z-index: 1;
    width: 69px;
    top: -15%;
    left: -10%;
    transform: translateY(0%);
    animation: coin-1 2.5s infinite;
}

.coin-2{
    position: absolute;
    z-index: 1;
    width: 60px;
    bottom: 50%;
    left: -15%;
    transform: translateY(0%);
    animation: coin-2 2s infinite;
}

.coin-3{
    position: absolute;
    z-index: 1;
    width: 76px;
    top: -15%;
    right: -10%;
    transform: translateY(0%);
    animation: coin-3 2s infinite;
}

.star-1{
    position: absolute;
    z-index: 1;
    width: 30px;
    top: -15%;
    left: -32px;
    animation: twinkle 1s infinite ease-in-out;
}

.star-2{
    position: absolute;
    z-index: 1;
    width: 30px;
    left: -11%;
    bottom: 52%;
    animation: twinkle 1s infinite ease-in-out;
    animation-delay: 1.5s;
}

.star-3{
    position: absolute;
    z-index: 1;
    width: 30px;
    right: -10%;
    top: -15%;
    animation: twinkle 1.5s infinite ease-in-out;
    animation-delay: 1s;
}

@media (max-width: 1023px) {

    .CoinBlock{
        width: 90%;
        height: 50%;
    }
    .coin-1{
        top: 110%;
        left: 10%;
    }
    .star-1{
        top: 108%;
        left: 15%;
    }

    .coin-2{
        bottom: -5%;
        left: 90%;
    }
    .star-2{
        bottom: -3%;
        left: 95%;
    }

    .coin-3{
        right: 90%;
        top: -20%;
    }

    .star-3{
        right: 95%;
        top: -20%;
    }

}

@media (max-width: 767px) {

    .CoinBlock{
        width: 90%;
        height: 45%;
    }
    .coin-1{
        width: 32px;
        top: 130%;
        left: 0%;
    }
    .star-1{
        width: 16px;
        top: 124%;
        left: 0%;
    }

    .coin-2{
        width: 32px;
        bottom: -25%;
    }

    .star-2{
        width: 14px;
        bottom: -25%;
    }

    .coin-3{
        width: 48px;
        top: -20%;
        right: 90%;
    }

    .star-3{
        width: 16px;
        top: -20%;
        right: 90%;
    }
}

  @keyframes coin-1 {
    0%{transform: translateY(0px);transition: ease 3s;}
    50%{transform: translateY(-20px);transition: ease 3s;}
  }
  @keyframes coin-2 {
    0%{transform: translateY(0px);transition: ease 3s;}
    50%{transform: translateY(20px);transition: ease 3s;}
  }
  @keyframes coin-3 {
    0%{transform: translateY(0%);transition: ease 3s;}
    50%{transform: translateY(-24px);transition: ease 3s;}
  }
  @keyframes twinkle {
    0%, 100% {
        opacity: 0.2;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    }
    
    @keyframes shadow {
        0% {transform: scale(1);filter: blur(8px);}
        100% {transform: scale(.8);filter: blur(2px);}
    }


.Banner{
    margin-top: 80px;
    background: radial-gradient(50% 50% at 50% 50%, #F03E5E 0%, #880A0C 100%);
    width: 100%;  
    height: 100vh;
    position: relative;
}
.BannerBG{
    background-image: url(../images/Banner/KV_BG.png);
    mix-blend-mode: soft-light;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}
.Cloud{
    background-image: url(../images/Banner/Cloud.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    position: absolute;
    left: 0;
    bottom: -4px;
}

.Snake{
    background-image: url(../images/Banner/Snake.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

.KeyPoint{
    width: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 24px;
    z-index: 10;
}

.KvTitle{
    max-width: 800px;
    margin: 0 auto;
}

.SecondaryTitle{
    max-width: 600px;
    margin: 0 auto;
}

.Head{
    background-image: url(../images/Banner/Head_360.png);
    width: 40vw;
    height:30vh;
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.Tail{
    background-image: url(../images/Banner/Body_360.png);
    width: 80vw;
    height: 80vw;
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

@media (max-width: 1023px) {

    .Banner{
        height: 95vh;
        margin-top: 72px;
    }


    .BannerBG{
        height: 95vh;
    }

    .Snake{
        display: none;
    }

    .Head,.Tail{
        display: block;
    }

}

@media (max-width: 767px) {

    .Banner{
        height: 80vh;
        margin-top: 58px;
    }

    .BannerBG{
        height: 80vh;
    }

    .Cloud{
        width: 100vw;
        height: 50vh;
        background-image: url(../images/Banner/Cloud_360.png);
        background-size: contain; /* 或 contain */
        background-position: bottom center;
        background-repeat: no-repeat; /* 避免背景图重复 */
    }


    .KeyPoint{
        top: 45%;
        gap: 16px;
    }
    

   

}

.compony{
    font-size: 14px;
    padding: 8px 24px;
}