/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "Open Sans", "Noto Sans TC", sans-serif, Arial, Helvetica;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------CSS ResetEnd---------- */



/* ----------Component---------- */

button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: linear-gradient(180deg, #FFF2E8 0%, #FFF1C7 100%);
    border: none;
    padding: 16px 24px;
    color: #272727;
    border: 1px solid #272727;
    font-size: 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 600ms cubic-bezier(.23, 1, 0.32, 1);
    box-shadow: 0px 4px 0px 0px #272727;
    white-space: nowrap;
    font-weight: 700;
}

button:hover{
    background: linear-gradient(180deg, #FFF1C7 0%, #FFF2E8 100%);
    transform: scale(1.05);
}

.BtnElementLeft,.BtnElementRight{
    width: 20px;
    animation: swing 1s ease-in-out infinite;
}

@keyframes swing {
    0%, 100% {
        transform: translateX(0); /* 初始與結束位置 */
    }
    50% {
        transform: translateX(4px); /* 向右擺動的幅度 */
    }
}

.BtnElementRight{
    rotate: 180deg;
}

.MainButton{
    margin: 0 auto;
}

@media (max-width: 767px) {
    button{
        width: 100%;
        font-size: 18px;
        gap: 4px;
        padding: 12px 20px;
    }
    .MainButton{
        width: 100%;
    }
}



.FloatButton1,.FloatButton2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; 
    width: 104px;
    height: 104px;
    background-image: url("../images/side/FloatBtn-1.png");
    background-size: cover;
    font-size: 18px;
    transition: all 600ms cubic-bezier(.23, 1, 0.32, 1);
    text-align: center;
    padding-top: 26px;
}


.FloatButton2 {
    background-image: url("../images/side/FloatBtn-2.png");
}

.FloatButton1:hover,.FloatButton2:hover{
    transform: translateY(-4px);
}


.FloatButton2:hover{
    transform: translateY(-4px);
}

.fixed-btn{
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 100;
}

.Sale{
    width: 76px;
    height: auto;
    margin: 0 auto;
}


@media (max-width: 767px) {
    
    .FloatButton1,.FloatButton2 {
        width: 100%;
        height: auto;
        text-align: center;
        justify-content: center;
        padding: 8px 0px;
        border-radius: 0px;
        font-size: 18px;
        background-image: none;
        background-color: #EA6F17;
       
    }

    .FloatButton2{
        background-color: #F0A400;
    }

   
    
    .FloatButton1:hover,.FloatButton2:hover,button:hover{
        transform: none;
    }

    .compony{
        font-size: 14px;
        margin-top: 4px;
        text-align: left;
    }

    .fixed-btn{
        right: 0;
        bottom: 0;
        flex-direction: row;
        width: 100%;
        gap: 0px;
    }

} 

/* --------------- Banner ---------------*/

.KvSale{
    width: 146px;
    position: absolute;
    top: -80px;
}

.coin-1{
    position: absolute;
    z-index: 1;
    width: 69px;
    top: -10%;
    left: 0%;
    transform: translateY(0%);
    animation: coin-1 2.5s infinite;
    display: none;
}

.coin-2{
    position: absolute;
    z-index: 1;
    width: 60px;
    bottom: 40%;
    left: 0%;
    transform: translateY(0%);
    animation: coin-2 2s infinite;
}

.coin-3{
    position: absolute;
    z-index: 1;
    width: 76px;
    top: -10%;
    right: 0%;
    transform: translateY(0%);
    animation: coin-3 2s infinite;
}

.star-1{
    position: absolute;
    z-index: 1;
    width: 30px;
    top: -10%;
    left: 0%;
    animation: twinkle 1s infinite ease-in-out;
    display: none;
}

.star-2{
    position: absolute;
    z-index: 1;
    width: 30px;
    left: 0%;
    bottom: 40%;
    animation: twinkle 1s infinite ease-in-out;
    animation-delay: 1.5s;
}

.star-3{
    position: absolute;
    z-index: 1;
    width: 30px;
    top: -10%;
    right: 0%;
    animation: twinkle 1.5s infinite ease-in-out;
    animation-delay: 1s;
}

@media (max-width: 1439px) {

    .KvTitle,.SecondaryTitle{
        width: 100%;
    }

    .coin-1{
        top: 80%;
        left: 0%;
        display: block;
    }
   
    .star-1{
        top: 80%;
        left: 0%;
        display: block;
    }

    .coin-2{
        bottom: -5%;
        left: 85%;
    }
    .star-2{
        bottom: -5%;
        left: 85%;
    }

    .coin-3{
        width: 8%;
        right: 90%;
        top: 0%;
        display: none;
    }

    .star-3{
        right: 90%;
        top: 0%;
        display: none;
    }

    .KvSale{
        top: -60px;
        width: 120px;
    }
}

@media (max-width: 1023px) {

    .coin-1{
        top: 95%;
        left: 12%;
    }
   
    .star-1{
        top: 95%;
        left: 12%;
    }

    .coin-2{
        width: 8%;
        left: 80%;
    }

    .star-2{
        left: 80%;
    }

    .coin-3{
        right: 90%;
    }

    .star-3{
        right: 90%;
    }

}

@media (max-width: 767px) {

    .coin-1{
        width: 10%;
        top: 100%;
        left: 10%;
    }
    .star-1{
        width: 4%;
        top: 100%;
        left: 10%;
    }

    .coin-2{
        bottom: -20%;
    }

    .star-2{
        width: 5%;
        bottom: -20%;
    }

    .coin-3{
        width: 10%;
        top: -20%;
        right: 85%;
    }

    .star-3{
        width: 4%;
        top: -20%;
        right: 85%;
    }

    .KvSale{
        top: -100px;
        width: 88px;
    }

}

  @keyframes coin-1 {
    0%{transform: translateY(0px);transition: ease 3s;}
    50%{transform: translateY(-16px);transition: ease 3s;}
  }
  @keyframes coin-2 {
    0%{transform: translateY(0px);transition: ease 3s;}
    50%{transform: translateY(20px);transition: ease 3s;}
  }
  @keyframes coin-3 {
    0%{transform: translateY(0%);transition: ease 3s;}
    50%{transform: translateY(-16px);transition: ease 3s;}
  }
  @keyframes twinkle {
    0%, 100% {
        opacity: 0.2;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    }
    


.Banner{
    margin-top: 80px;
    background: radial-gradient(50% 50% at 50% 50%, #F03E5E 0%, #880A0C 100%);
    width: 100%;  
    height: 100vh;
    position: relative;
}
.BannerBG{
    background-image: url(../images/Banner/KV_BG.png);
    mix-blend-mode: soft-light;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}
.Cloud{
    background-image: url(../images/Banner/Cloud.png);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    position: absolute;
    left: 0;
    bottom: -4px;
}

.Snake{
    background-image: url(../images/Banner/Snake.png);
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

.KeyPoint{
    width:1024px ;
    display: flex;
    gap: 24px;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 24px;
    z-index: 10;
}

.KvTitle{
    width: 80%;
    margin: 0 auto;
}

.SecondaryTitle{
    width: 80%;;
    margin: 0 auto;
}

.Head{
    background-image: url(../images/Banner/Head_360.png);
    width: 50vw;
    height:50vh;
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.Tail{
    background-image: url(../images/Banner/Body_360.png);
    width: 80vw;
    height: 80vw;
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}



@media (max-width: 1439px) {

    .KeyPoint{
    }

    .Head,.Tail{
        display: block;
    }

    .Head{
        width: 30vw;
        height: 30vw;
    }

    .Tail{
        width: 55vw;
        height: 55vw;
    }

    .Snake{
        display: none;
    }
}

@media (max-width: 1023px) {

    .Banner{
        height: 100vh;
        margin-top: 72px;
    }

    .KeyPoint{
        width: 100%;
        top: 180px;
    }

    .BannerBG{
        height: 95vh;
    }
}


@media (max-width: 767px) {

    .Banner{
        height: 80vh;
        margin-top: 58px;
    }

    .BannerBG{
        height: 80vh;
    }

    .Cloud{
        width: 100vw;
        height: 50vh;
        background-image: url(../images/Banner/Cloud_360.png);
        background-size: contain; /* 或 contain */
        background-position: bottom center;
        background-repeat: no-repeat; /* 避免背景图重复 */
    }


    .KeyPoint{
        width: 100%;
        gap: 16px;
        top: 120px;
    }
    
    .Head{
        width: 40vw;
        height: 30vh;
    }

    .Tail{
        width: 40vw;
        height: 40vh;
    }

    .KvTitle,.SecondaryTitle{
        width: 100%;
    }
   
}




/* --------------- Section1 ---------------*/


.TextLine,.FirstLine{
    text-align: center;
    margin-bottom: 80px;
}

.TextLine img,.FirstLine img{
    width: auto;
    height: 72px;
    margin: 0 auto;
}



.Item{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 40px;
    padding: 40px 32px;
    border-right: 24px solid #B30003;
    border-left: 24px solid #B30003;
    margin: 0 auto;
    background-color: #FFF3EB;
}

.ItemContent span{
    font-size:18px ;
    margin-bottom: 4px;
}

.ItemContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.ItemContent img{
    width: auto;
    height: 50px;
}

.ItemContent p{
    width: 80%;
    text-align: center;
    padding: 8px 0px;
    border-top: #00A5A8 solid 2px;
    border-bottom: #00A5A8 solid 2px;
    
}

.ItemTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin:16px 0 24px 0;
}


.ItemTitle span{
    color: #00A5A8;
    font-weight: 700;
}

/* -----RodElement----- */

.RodTop{
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10000;
}

.RodBottom{
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    z-index: 10000;
}

.Center{
    width: 100%;
}
.HorTop{
    width: 100%;
    height: 16px;
    background-color: #B30003;
}

.HorBottom{
    width: 100%;
    height: 10px;
    background-color: #A00002;
}

.OutPoint{
    width: 24px;
}

.OutPointTop{
    width: 100%;
    height: 16px;
    background-color: #E8AD4F;
}

.OutPointBottom{
    width: 100%;
    height: 10px;
    background-color: #E2993C;
}

.OuterMost{
    width: 14px;
    height: 13px;
    background-color: #323232;
}

@media (max-width: 1023px) {

    .FirstLine img{
        height: 144px;
    }

    .Item{
        align-items: center;
        gap: 56px;
    }

    .ItemTitle{
        margin:16px 0 8px 0;
    }

    .ItemContent p{
        width: 40%;
    }
}

@media (max-width: 767px) {

    .TextLine,.FirstLine{
        margin-bottom: 32px;
    }

    .FirstLine img{
        height: 78px;
    }

    .TextLine img{
        height: 39px;
    }
        

    .Item{
        width: 90%;
        padding: 24px 16px;
        border-right: 16px solid #B30003;
        border-left: 16px solid #B30003;
    }

    .ItemContent p{
        width: 100%;
        max-width: 240px;
    }

    .HorTop,.OutPointTop{
        height: 16px;
    }

    .HorBottom,.OutPointBottom{
        height: 8px;
    }

    .OutPoint{
        width: 18px;
    }

    .OuterMost{
        width: 10px;
        height: 12px;
    }

    .ItemContent img{
        height: 45px;
    }

}


/* --------------- Section2 ---------------*/
.SubTitle{
    text-align: center;
    margin-top: -56px;
    margin-bottom: 80px;
}

.OutLineCard{
    padding: 80px;
    background-color: white;
    border: 2px solid #850400;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    position: relative;
    z-index: 10;
}

.Notice{
    position: relative;
    z-index: 10;
}

.Notice img{
    width: 20px;
    margin-left: 4px;
    vertical-align: middle;
    margin-bottom: 4px;
}

#NoticeList{
    scroll-margin-top: 40px;
}

/* ETF */

.ETF{
    padding: 64px 16px 40px 16px;
    border: 2px solid #E8AD4F;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

.ETFTitle,.StockTitle{
    width: auto;
    height: 78px;
    position: absolute;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
}

.ETFTable{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px;
    padding: 60px 24px 24px 24px;
    background-color: white;
    border-radius: 10px;
}
.ETFItem{
    display: flex;
    justify-content: left;
    gap: 4px;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 12px;
    border-bottom: 1px solid #E9E9E9;
    font-size: 18px;
    font-weight: 500;
}

.ETFBlock img{
    position: absolute;
    width: 350px;
    height: auto;
    margin: 0 auto;
    top: -39px;
    left: 50%;
    transform: translateX(-50%);
}

.ETFBlock{
    position: relative;
    border: 2px solid #E8AD4F;
    border-radius: 10px;
}

.Stock{
    position: relative;
    padding: 62px 16px 40px 16px ;
    border: 2px solid #E8AD4F;
    border-radius: 10px;
    margin-top: 39px;
}


.ETF p{
    font-size: 28px;
}

.ETF span{
    font-size: 18px;
}

.ETF p,.ETF span {
    font-weight: 500;
}

.StockTable{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.ETFTable{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.StockItem{
    display: flex;
    justify-content: flex-start;
    padding-left: 12px;
    gap: 8px;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 12px;
    border-bottom: 1px solid #E9E9E9;
    font-size: 18px;
    font-weight: 500;
}

.ETFItem{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 4px;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 12px;
    border-bottom: 1px solid #E9E9E9;
    font-size: 18px;
    font-weight: 500;
}

.StockName ,.ETFName{
    white-space: nowrap;
}

.StockBlock{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.Block1,.Block2{
    width: 50%;
    padding: 40px 24px 24px 24px;
    text-align: center;
    border: 2px solid #E8AD4F;
    border-radius: 10px;
    position: relative;
    margin-top: 26px;
}


.ChipTitle{
    background-color: #FB5D01;
    white-space: nowrap;
    color: white;
    padding: 8px 24px;
    display: inline;
    border-radius: 1000px;
    position: absolute;
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1023px) {
    .ETFBlock img{
        width: 224px;
        top: -25px;
    }

    .ETFTable{
        padding: 32px 12px 24px 12px;
        gap: 12px;
    }

}

@media (max-width: 767px) {

    .OutLineCard{
        padding: 40px 16px;
    }

    .SubTitle{
        margin-top: -8px;
        margin-bottom: 32px;
    }

    .ETFBlock img{
        width: 180px;
        top: -20px;
    }

    .StockTable{
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }

    .StockItem,.ETFItem{
        justify-content: center;
        padding-left: 0;
        flex-direction: column;
        gap: 0;
    }

    .ETF,.Stock{
        padding: 40px 16px 24px 16px;
        margin-top: 22px;
    }

    .ETFTitle,.StockTitle{
        height: 45px;
        top: -24px;
    }

    .OutLineCard{
        gap: 32px;
    }

    .ChipTitle{
        font-size: 18px;
    }

    .StockBlock{
        flex-direction: column;
    }

    .Block1,.Block2{
        width: 100%;
    }

    .ETFTable{
        padding-top: 40px;
        gap: 8px;
        grid-template-columns: repeat(1, 1fr);
    }

    .ETF p{
        font-size: 24px;
    }
    
    .ETF span{
        font-size: 16px;
    }
}

    
/* --------------- Section3 ---------------*/



.ChatContent{
    width: 95%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-right: 24px solid #B30003;
    border-left: 24px solid #B30003;
    margin: 0 auto;
    background-color: #FFF3EB;
}

.SnakeLeft,.SnakeRight{
    display: flex;
    gap: 20px;
}


.SnakeRight{
    justify-content: flex-end;
}

.Sticker{
    width: 111px;
    height: 111px;
}

.Step{
    font-size: 18px;
    padding: 8px 20px;
    background-color: #FB5D01;
    display: inline;
    color: white;
    font-weight: 700;
    border-radius: 1000px;
    white-space: nowrap;
}

.Chat{
    display: flex;
    align-items: center;
    gap: 24px;
}

.ChatBox{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 44px 120px;
    background-image: url(../images/illustration/TalkLeft.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ChatBoxRight{
    display: flex;
    padding: 64px 54px;
    width: 633px;
    height: 201px;
    background-image: url(../images/illustration/TalkRight.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 1023px) {
    
    .ChatContent{
        padding: 32px 24px;
        gap: 16px;
    }

    .Sticker{
        width: 36px;
        height: 36px;
    }

    .Chat{
        max-width: 320px;
        flex-direction: column;
        text-align: center;
    }

    .SnakeLeft,.SnakeRight{
        flex-direction: column;
        gap: 0;
    }
    
    .SnakeRight{
        align-items: flex-end;
    }

    .Sticker{
        width: 15vw;
        height: 15vw;
        margin: 0 64px;
    }

    

    .SnakeRight img{
        order: -1;
    }
    
    .ChatBox{
        padding: 10% 8%;
        background-image: url(../images/illustration/TalkLeft_360.png);
        align-items: center;
    }

    .ChatBoxRight{
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 10% 8%;
        background-image: url(../images/illustration/TalkRight_360.png);
    }


}

@media (max-width: 767px) {

    .ChatContent{
        width: 90%;
        padding: 10% 2%;
        border-left: 16px solid #B30003;
        border-right: 16px solid #B30003;
    }

    .SnakeLeft,.SnakeRight{
        gap: 8px;
    }

    .Step{
        font-size: 16px;
        padding: 4px 12px;
    }

    .Sticker{
        margin: 0;
    }

    .MainButton{
        width: 220px;
        font-size: 18px;
    }

    .Chat{
        width: 80vw;
        max-width: 320px;
        gap: 8px;
    }


    .SnakeRight p{
        padding: 0px 5%;
    }

    .ChatBox,.ChatBoxRight{
        width: 100%;
        gap: 16px;
        padding: 15% 2%;
        justify-content: center;
        align-items: center;
    }

}

/* --------------- Section4 ---------------*/

.NoteCard {
    background-color: white;
    padding: 64px 80px;
    border: 5px solid #FFD668;
    border-radius: 40px;
    position: relative;
    z-index: 10;
}


.List {
    counter-reset: list-counter;
    margin: 0; 
    padding-left: 0; 
}

.List li {
    counter-increment: list-counter;
    display: block;
    margin-bottom: 12px; 
    padding-left: 30px; 
    word-wrap: break-word; 
    position: relative;
}

.List li a {
    word-break: break-word;
    text-decoration: underline;
}

.List li::before {
    content: counter(list-counter) "."; 
    color: #333;
    margin-right: 8px; 
    flex-shrink: 0; 
    position: absolute; 
    left: 0;
}

@media (max-width: 1023px) {
    .NoteCard{
        padding: 40px 32px;
    }
}

@media (max-width: 767px) {
    .NoteCard{
        padding: 32px 24px;
    }
}


.ETFs{
    background-color: #F0A400;
    color: white;
    border: none;
}